extends layout

block headImport
  link(rel='stylesheet', href='/stylesheets/game.css')

block bodyImport
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/annyang/1.4.0/annyang.min.js"></script>
  <script src="js/bind_polyfill.js"></script>
  <script src="js/classlist_polyfill.js"></script>
  <script src="js/animframe_polyfill.js"></script>
  <script src="js/voice_input_manager.js"></script>
  <script src="js/html_actuator.js"></script>
  <script src="js/grid.js"></script>
  <script src="js/tile.js"></script>
  <script src="js/local_storage_manager.js"></script>
  <script src="js/game_manager.js"></script>
  <script src="js/keyboard_input_manager.js"></script>
  //- These are the two JavaScript files you must load in the HTML,
  //- The recognizer is loaded through a Web Worker
  <script src="javascripts/audioRecorder.js"></script>
  <script src="javascripts/callbackManager.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.1.2/firebase.js"></script>
  <script src="javascripts/fa.js"></script>


block content

  .container-game
      .heading
        h1.title 2048
        .scores-container
          .score-container 0
          .best-container 0
      br
      .above-game
        p.game-intro
          | Join the numbers and get to the&nbsp;
          strong 2048 tile!
        a.restart-button New Game
      .game-container
        .game-message
          p
          .lower
            a.keep-playing-button Keep going
            a.retry-button Try again
        .grid-container
          .grid-row
            .grid-cell
            .grid-cell
            .grid-cell
            .grid-cell
          .grid-row
            .grid-cell
            .grid-cell
            .grid-cell
            .grid-cell
          .grid-row
            .grid-cell
            .grid-cell
            .grid-cell
            .grid-cell
          .grid-row
            .grid-cell
            .grid-cell
            .grid-cell
            .grid-cell
        .tile-container
      p.game-explanation
        strong.important How to play:
        |  Use your
        strong arrow keys
        |  to move the tiles. When two tiles with the same number touch, they
        strong merge into one!
      hr
      p
        strong.important Note:
        |  This site is the official version of 2048. You can play it on your phone via&nbsp;
        a(href='http://git.io/2048') http://git.io/2048.
        |  All other apps or sites are derivatives or fakes, and should be used with caution.
      hr
      p
        | Created by&nbsp;
        a(href='http://gabrielecirulli.com', target='_blank') Gabriele Cirulli.
        |  Based on&nbsp;
        a(href='https://itunes.apple.com/us/app/1024!/id823499224', target='_blank') 1024 by Veewo Studio
        |  and conceptually similar to&nbsp;
        a(href='http://asherv.com/threes/', target='_blank') Threes by Asher Vollmer.

