doctype
html(lang='en')
head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
       
  meta(charset='utf-8')
     
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
     
  meta(name='viewport', content='width=device-width, initial-scale=1')
     
  meta(name='description', content='')
     
  meta(name='author', content='')
       
  link(rel='shortcut icon', href='http://www.thepetedesign.com/demos/flat-ui-startup/demo/images/favicon.ico')
     
  title Flat Startup Bootstrap Theme by The Pete Design
  // Bootstrap core CSS
  link(rel='stylesheet', href='stylesheets/bootstrap.css')
     
  link(rel='stylesheet', href='stylesheets/theme.min.css')
     
  link(rel='stylesheet', href='stylesheets/style.css')
     
  link(rel='stylesheet', href='stylesheets/animate.css')
     
  script(src='javascripts/html5shiv.js')
     
  script(src='javascripts/respond.min.js')
  body.js
    // <div id="fb-root" class=" fb_reset">
    // &lt;!&ndash;<div style="position: absolute; top: -10000px; height: 0px; width: 0px;">&ndash;&gt;
    // &lt;!&ndash;<div>&ndash;&gt;
    // &lt;!&ndash;<iframe name="fb_xdm_frame_http" frameborder="0" allowtransparency="true" scrolling="no" id="fb_xdm_frame_http" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="DU1Ia251o0y.html" style="border: none;"></iframe>&ndash;&gt;
    // &lt;!&ndash;<iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="DU1Ia251o0y(1).html" style="border: none;"></iframe>&ndash;&gt;
    // &lt;!&ndash;</div>&ndash;&gt;
    // &lt;!&ndash;</div>&ndash;&gt;
    // &lt;!&ndash;<div style="position: absolute; top: -10000px; height: 0px; width: 0px;">&ndash;&gt;
    // &lt;!&ndash;<div>&ndash;&gt;
    // &lt;!&ndash;<iframe name="fb7620d0" frameborder="0" allowtransparency="true" scrolling="no" src="ping.html" style="display: none;"></iframe>&ndash;&gt;
    // &lt;!&ndash;</div>&ndash;&gt;
    // &lt;!&ndash;</div>&ndash;&gt;
    // </div>
    .navbar.navbar-fixed-top.fus-navbar-solid(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
                     
            span.icon-bar
                     
            span.icon-bar
                     
            span.icon-bar
                 
          a.navbar-brand(href='http://www.thepetedesign.com/flatui-startup/demo#top') Startup
             
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li.active
              a.scrollto(href='http://www.thepetedesign.com/flatui-startup/demo#top') Home
                     
            li
              a.scrollto(href='http://www.thepetedesign.com/flatui-startup/demo#feature') Features
                     
            li
              a.scrollto(href='http://www.thepetedesign.com/flatui-startup/demo#pricing') Pricing
                     
            li
              a.scrollto(href='http://www.thepetedesign.com/flatui-startup/demo#blog') Blog
                     
            li
              a.scrollto(href='http://www.thepetedesign.com/flatui-startup/demo#about') About
                     
            li
              a.btn.fus-btn-white(href='http://www.thepetedesign.com/flatui-startup/demo#') Login
        // /.nav-collapse
      // /.container
    // Main component for a primary marketing message or call to action
    #top.jumbotron
      .fus-bg
         
      .fus-overlay
         
      .container
        .fus-pitch
          .fus-call-to-action
            h1 Flat UI Startup
                     
            h2
               theme for Bootstrap brought to you by 
              a(href='http://www.thepetedesign.com/', target='_blank') The Pete Design
                     
            .fus-btns
              a.scrollto.btn.fus-btn-white(href='http://www.thepetedesign.com/flatui-startup/demo#feature') Learn More
                         
              a.btn.btn-primary(href='http://www.thepetedesign.com/flatui-startup/demo#') Sign Up
    #feature.fus-section.fus-feature.fus-white-bg
      .container
        .fus-section-header
          h3 Feature-Packed
                 
          h4 API, Offline mode, iPhone and Android apps, etc.
             
        ul.nav.nav-tabs.fus-tabs
          li.active
            a(href='http://www.thepetedesign.com/flatui-startup/demo#feature1', data-toggle='tab')
              span.glyphicon.glyphicon-home
                
              span.fus-subtitle Feature 1
                 
          li
            a(href='http://www.thepetedesign.com/flatui-startup/demo#feature2', data-toggle='tab')
              span.glyphicon.glyphicon-camera
                
              span.fus-subtitle Feature 2
                 
          li
            a(href='http://www.thepetedesign.com/flatui-startup/demo#feature3', data-toggle='tab')
              span.glyphicon.glyphicon-music
                
              span.fus-subtitle Feature 3
                 
          li
            a(href='http://www.thepetedesign.com/flatui-startup/demo#feature4', data-toggle='tab')
              span.glyphicon.glyphicon-headphones
                
              span.fus-subtitle Feature 4
                 
          li
            a(href='http://www.thepetedesign.com/flatui-startup/demo#feature5', data-toggle='tab')
              span.glyphicon.glyphicon-picture
                
              span.fus-subtitle Feature 5
             
        .tab-content.fus-tab-content
          #feature1.tab-pane.active
            .row
              .col-md-6.fus-photo
                a.animated.bounceInLeft(href='http://www.thepetedesign.com/flatui-startup/demo#', target='_blank')
                  img(src='images/placeholder.png', alt='Placeholder of Your Feature')
                         
              .col-md-6
                .fus-tab-center.animated.fadeIn
                  .fus-header
                    h3 Feature-Packed
                                     
                    h4 API, Offline mode, iPhone and Android apps, etc.
                                 
                  p
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                 
                  p
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                 
                  p
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                 
                  a.btn.btn-lg(href='http://www.thepetedesign.com/flatui-startup/demo#', target='_blank') Download App
                 
          #feature2.tab-pane
            .row
              .col-md-6
                .fus-tab-center.animated.fadeIn
                  .fus-header
                    h3 Feature-Packed
                                     
                    h4 API, Offline mode, iPhone and Android apps, etc.
                                 
                  p
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                 
                  p
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                 
                  p
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                 
                  a.btn.btn-lg(href='http://www.thepetedesign.com/flatui-startup/demo#', target='_blank') Download App &#x276F;
                         
              .col-md-6.fus-photo
                a.animated.bounceInRight(href='http://www.thepetedesign.com/flatui-startup/demo#', target='_blank')
                  img(src='images/placeholder.png', alt='Placeholder of Your Feature')
                 
          #feature3.tab-pane
            .row
              .col-md-6.col-md-offset-3.fus-fullwidth-content
                .fus-tab-center
                  .fus-header
                    h3 Feature-Packed
                                     
                    h4 API, Offline mode, iPhone and Android apps, etc.
                                 
                  p
                    a.animated.bounceIn(href='http://www.thepetedesign.com/flatui-startup/demo#', target='_blank')
                      img(src='images/placeholder2.png', alt='Placeholder of Your Feature')
                                 
                  p
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                 
                  a.btn.btn-lg(href='http://www.thepetedesign.com/flatui-startup/demo#', target='_blank') Download App &#x276F;
                 
          #feature4.tab-pane
            .row
              .col-md-6.fus-photo
                a.animated.bounceInLeft(href='http://www.thepetedesign.com/flatui-startup/demo#', target='_blank')
                  img(src='images/placeholder.png', alt='Placeholder of Your Feature')
                         
              .col-md-6
                .fus-tab-center.animated.fadeIn
                  .fus-header
                    h3 Feature-Packed
                                     
                    h4 API, Offline mode, iPhone and Android apps, etc.
                                 
                  p
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                 
                  p
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                 
                  p
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                 
                  a.btn.btn-lg(href='http://www.thepetedesign.com/flatui-startup/demo#', target='_blank') Download App &#x276F;
                 
          #feature5.tab-pane
            .row
              .col-md-6
                .fus-tab-center.animated.fadeIn
                  .fus-header
                    h3 Feature-Packed
                                     
                    h4 API, Offline mode, iPhone and Android apps, etc.
                                 
                  p
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                 
                  p
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                 
                  p
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                 
                  a.btn.btn-lg(href='http://www.thepetedesign.com/flatui-startup/demo#', target='_blank') Download App &#x276F;
                         
              .col-md-6.fus-photo
                a.animated.bounceInRight(href='http://www.thepetedesign.com/flatui-startup/demo#', target='_blank')
                  img(src='images/placeholder.png', alt='Placeholder of Your Feature')
    #pricing.fus-section.fus-pricing
      .fus-overlay
         
      .container
        .fus-section-header
          h3 Simple Pricing
                 
          h4 30 days free trial with no attachments
             
        .row.fus-pricing-table
          .col-md-4.fus-notfocus
            ul.media-list.pull-right
              li.fus-list-header
                h5 Almost Free Package
                             
                p
                  $5/
                  small month
                         
              li.media
                a.pull-left(href='http://www.thepetedesign.com/flatui-startup/demo#')
                  span.glyphicon.glyphicon-ok-circle.media-object
                .media-body             
                  h4.media-heading Media heading
                                 
                  p.media-text Lorem ipsum dolor sit amet, consec tetur adipisicing elit
                         
              li.media
                a.pull-left(href='http://www.thepetedesign.com/flatui-startup/demo#')
                  span.glyphicon.glyphicon-ok-circle.media-object
                             
                .media-body
                  h4.media-heading Media heading
                                 
                  p.media-text Lorem ipsum dolor sit amet, consec tetur adipisicing elit
                         
              li.media.disabled
                a.pull-left(href='http://www.thepetedesign.com/flatui-startup/demo#')
                  span.glyphicon.glyphicon-remove-circle.media-object
                             
                .media-body
                  h4.media-heading Media heading
                                 
                  p.media-text Lorem ipsum dolor sit amet, consec tetur adipisicing elit
                         
              li.media.disabled
                a.pull-left(href='http://www.thepetedesign.com/flatui-startup/demo#')
                  span.glyphicon.glyphicon-remove-circle.media-object
                             
                .media-body
                  h4.media-heading Media heading
                                 
                  p.media-text Lorem ipsum dolor sit amet, consec tetur adipisicing elit
                         
              li.media
                a.btn.btn-primary.btn-lg.btn-block(href='http://www.thepetedesign.com/flatui-startup/demo#') Sign Up
                 
          .col-md-4.fus-focus
            ul.media-list
              li.fus-list-header
                h5 Budget Package
                             
                p
                   $25/
                  small month
                         
              li.media
                a.pull-left(href='http://www.thepetedesign.com/flatui-startup/demo#')
                  span.glyphicon.glyphicon-ok-circle.media-object
                             
                .media-body
                  h4.media-heading Media heading
                                 
                  p.media-text Lorem ipsum dolor sit amet, consectetur adipisicing elit
                         
              li.media
                a.pull-left(href='http://www.thepetedesign.com/flatui-startup/demo#')
                  span.glyphicon.glyphicon-ok-circle.media-object
                             
                .media-body
                  h4.media-heading Media heading
                                 
                  p.media-text Lorem ipsum dolor sit amet, consectetur adipisicing elit
                         
              li.media
                a.pull-left(href='http://www.thepetedesign.com/flatui-startup/demo#')
                  span.glyphicon.glyphicon-ok-circle.media-object
                             
                .media-body
                  h4.media-heading Media heading
                                 
                  p.media-text Lorem ipsum dolor sit amet, consectetur adipisicing elit
                         
              li.media.disabled
                a.pull-left(href='http://www.thepetedesign.com/flatui-startup/demo#')
                  span.glyphicon.glyphicon-remove-circle.media-object
                             
                .media-body
                  h4.media-heading Media heading
                                 
                  p.media-text Lorem ipsum dolor sit amet, consectetur adipisicing elit
                         
              li.media
                a.btn.btn-primary.btn-lg.btn-block(href='http://www.thepetedesign.com/flatui-startup/demo#') Sign Up
                 
          .col-md-4.fus-notfocus
            ul.media-list
              li.fus-list-header
                h5 Advanced Package
                             
                p
                   $225/
                  small month
                         
              li.media
                a.pull-left(href='http://www.thepetedesign.com/flatui-startup/demo#')
                  span.glyphicon.glyphicon-ok-circle.media-object
                             
                .media-body
                  h4.media-heading Media heading
                                 
                  p.media-text Lorem ipsum dolor sit amet, consectetur adipisicing elit
                         
              li.media
                a.pull-left(href='http://www.thepetedesign.com/flatui-startup/demo#')
                  span.glyphicon.glyphicon-ok-circle.media-object
                             
                .media-body
                  h4.media-heading Media heading
                                 
                  p.media-text Lorem ipsum dolor sit amet, consectetur adipisicing elit
                         
              li.media
                a.pull-left(href='http://www.thepetedesign.com/flatui-startup/demo#')
                  span.glyphicon.glyphicon-ok-circle.media-object
                             
                .media-body
                  h4.media-heading Media heading
                                 
                  p.media-text Lorem ipsum dolor sit amet, consectetur adipisicing elit
                         
              li.media
                a.pull-left(href='http://www.thepetedesign.com/flatui-startup/demo#')
                  span.glyphicon.glyphicon-ok-circle.media-object
                             
                .media-body
                  h4.media-heading Media heading
                                 
                  p.media-text Lorem ipsum dolor sit amet, consectetur adipisicing elit
                         
              li.media
                a.btn.btn-primary.btn-lg.btn-block(href='http://www.thepetedesign.com/flatui-startup/demo#') Sign Up
    #blog.fus-section.fus-blog.fus-white-bg
      .container
        .fus-section-header
          h3 Latest Blog Post
                 
          h4 Inspiring stories from us to you
             
        .row
          .col-md-6.col-md-4
            .thumbnail
              a.zoom-images.zs-wrapper(href='http://www.thepetedesign.com/flatui-startup/demo#', target='_blank', style='overflow: hidden; display: block; position: relative; min-width: 358px; min-height: 238px;')
                .zs-img(style='overflow: hidden; width: 100%; height: 100%; position: absolute; -webkit-transition: -webkit-transform 2000ms ease; transition: -webkit-transform 2000ms ease; -webkit-transform: scale(1.15); transform: scale(1.15); background: url(http://www.thepetedesign.com/demos/flat-ui-startup/demo/images/placeholder5.jpg) 50% 50% / cover no-repeat;')
                         
              .caption
                h3
                  a(href='http://www.thepetedesign.com/flatui-startup/demo#', target='_blank') People Think I&apos;m Rich
                             
                p
                   As a traveler, for some reason, people usually associate me with wealth and freedom, which is something I am aspired to do, but I am far from being rich nor do I have plenty of free times.
                             
                a.btn.fus-nobtn(href='http://www.thepetedesign.com/flatui-startup/demo#', role='button') Read More
                 
          .col-md-6.col-md-4
            .thumbnail
              a.zoom-images.zs-wrapper(href='http://www.thepetedesign.com/flatui-startup/demo#', target='_blank', style='overflow: hidden; display: block; position: relative; min-width: 358px; min-height: 238px;')
                .zs-img(style='overflow: hidden; width: 100%; height: 100%; position: absolute; -webkit-transition: -webkit-transform 2000ms ease; transition: -webkit-transform 2000ms ease; -webkit-transform: scale(1.15); transform: scale(1.15); background: url(http://www.thepetedesign.com/demos/flat-ui-startup/demo/images/placeholder4.jpg) 50% 50% / cover no-repeat;')
                         
              .caption
                h3
                  a(href='http://www.thepetedesign.com/flatui-startup/demo#', target='_blank') The Kings Canyon Rim Walk
                             
                p
                   Great times don&rsquo;t last forever, and so here is the final part of my Australian backpacking trip. Continuing from my part 2 post, where we left off after 2 days adventuring around Uluru and the Kata Tjuta.
                             
                a.btn.fus-nobtn(href='http://www.thepetedesign.com/flatui-startup/demo#', role='button') Read More
                 
          .col-md-6.col-md-4
            .thumbnail
              a.zoom-images.zs-wrapper(href='http://www.thepetedesign.com/flatui-startup/demo#', target='_blank', style='overflow: hidden; display: block; position: relative; min-width: 358px; min-height: 238px;')
                .zs-img(style='overflow: hidden; width: 100%; height: 100%; position: absolute; -webkit-transition: -webkit-transform 2000ms ease; transition: -webkit-transform 2000ms ease; -webkit-transform: scale(1.15); transform: scale(1.15); background: url(http://www.thepetedesign.com/demos/flat-ui-startup/demo/images/placeholder3.jpg) 50% 50% / cover no-repeat;')
                         
              .caption
                h3
                  a(href='http://www.thepetedesign.com/flatui-startup/demo#', target='_blank') We Travel Alone, Not to Be Alone
                             
                p
                   More often than not, people like to relate solo travelers as being an introvert, a person with no friends, or just outright crazy. It&rsquo;s like when we judge a person because he/she went to a cinema alone.
                             
                a.fus-nobtn.btn(href='http://www.thepetedesign.com/flatui-startup/demo#', role='button') Read More
    #about.fus-section.fus-about
      .fus-overlay
         
      .container
        .fus-section-header
          h3 About Us
                 
          h4 We love what we do
             
        .row
          .col-md-6.col-md-4
            .zoom-images.thumbnail.fus-text-on-top.zs-wrapper(style='overflow: hidden; display: block; position: relative; min-width: 360px; min-height: 240px;')
              .zs-img(style='overflow: hidden; width: 100%; height: 100%; position: absolute; -webkit-transition: -webkit-transform 2000ms ease; transition: -webkit-transform 2000ms ease; -webkit-transform: scale(1.15); transform: scale(1.15); background: url(http://www.thepetedesign.com/demos/flat-ui-startup/demo/images/placeholder6.jpg) 50% 50% / cover no-repeat;')
                         
              .caption
                h3
                  a(href='http://www.thepetedesign.com/', target='_blank') Pete R.
                             
                p
                   A Designer, a traveler, an entrepreneur, a founder, a developer, a marketer and everything in between
                             
                .fus-socials
                  a(href='http://www.thepetedesign.com/flatui-startup/demo#', data-toggle='tab')
                    span.glyphicon.glyphicon-envelope
                 
          .col-md-6.col-md-4
            .zoom-images.thumbnail.fus-text-on-top.zs-wrapper(style='overflow: hidden; display: block; position: relative; min-width: 360px; min-height: 240px;')
              .zs-img(style='overflow: hidden; width: 100%; height: 100%; position: absolute; -webkit-transition: -webkit-transform 2000ms ease; transition: -webkit-transform 2000ms ease; -webkit-transform: scale(1.15); transform: scale(1.15); background: url(http://www.thepetedesign.com/demos/flat-ui-startup/demo/images/placeholder6.jpg) 50% 50% / cover no-repeat;')
                         
              .caption
                h3
                  a(href='http://www.thepetedesign.com/', target='_blank') Pete R.
                             
                p
                   A Designer, a traveler, an entrepreneur, a founder, a developer, a marketer and everything in between
                             
                .fus-socials
                  a(href='http://www.thepetedesign.com/flatui-startup/demo#', data-toggle='tab')
                    span.glyphicon.glyphicon-envelope
                 
          .col-md-6.col-md-4
            .zoom-images.thumbnail.fus-text-on-top.zs-wrapper(style='overflow: hidden; display: block; position: relative; min-width: 360px; min-height: 240px;')
              .zs-img(style='overflow: hidden; width: 100%; height: 100%; position: absolute; -webkit-transition: -webkit-transform 2000ms ease; transition: -webkit-transform 2000ms ease; -webkit-transform: scale(1.15); transform: scale(1.15); background: url(http://www.thepetedesign.com/demos/flat-ui-startup/demo/images/placeholder6.jpg) 50% 50% / cover no-repeat;')
                         
              .caption
                h3
                  a(href='http://www.thepetedesign.com/', target='_blank') Pete R.
                             
                p
                   A Designer, a traveler, an entrepreneur, a founder, a developer, a marketer and everything in between
                             
                .fus-socials
                  a(href='http://www.thepetedesign.com/flatui-startup/demo#', data-toggle='tab')
                    span.glyphicon.glyphicon-envelope
    #seen-on.fus-section.fus-seen-on.fus-white-bg
      .container
        .fus-section-header
          h3 As Seen On
                 
          h4 We&rsquo;ve been featured on these websites
             
        .fus-as-seen
          a(href='http://www.thepetedesign.com/flatui-startup/demo#', target='_blank')
            img(src='images/client1.png')
                 
          a(href='http://www.thepetedesign.com/flatui-startup/demo#', target='_blank')
            img(src='images/client2.png')
                 
          a(href='http://www.thepetedesign.com/flatui-startup/demo#', target='_blank')
            img(src='images/client3.png')
    footer.fus-section
      .fus-overlay
         
      .container
        ul.list-inline
          li
            a.scrollto(href='http://www.thepetedesign.com/flatui-startup/demo#about') About
                 
          li
            a.scrollto(href='http://www.thepetedesign.com/flatui-startup/demo#blog') Blog
                 
          li
            a.scrollto(href='http://www.thepetedesign.com/flatui-startup/demo#feature') Features
                 
          li
            a.scrollto(href='http://www.thepetedesign.com/flatui-startup/demo#pricing') Pricing
             
        .credit
          a.scrollto(href='http://www.thepetedesign.com/flatui-startup/demo#top') Startup
                 
          p
             Built by 
            a(href='http://www.thepetedesign.com/', target='_blank') ThePeteDesign.com
    script(src='javascripts/jquery-1.11.1.min.js')
    script(src='javascripts/bootstrap.js')
    script(src='javascripts/theme.min.js')
    script(src='javascripts/jquery.zoom-scroller.js')
