extends layout

block headImport
  link(rel='stylesheet', href='/stylesheets/game.css')

block bodyImport
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/annyang/1.4.0/annyang.min.js"></script>
  <script src="js/bind_polyfill.js"></script>
  <script src="js/classlist_polyfill.js"></script>
  <script src="js/animframe_polyfill.js"></script>
  <script src="js/voice_input_manager.js"></script>
  <script src="js/html_actuator.js"></script>
  <script src="js/grid.js"></script>
  <script src="js/tile.js"></script>
  <script src="js/local_storage_manager.js"></script>
  <script src="js/game_manager.js"></script>
  //- These are the two JavaScript files you must load in the HTML,
  //- The recognizer is loaded through a Web Worker
  <script src="javascripts/audioRecorder.js"></script>
  <script src="javascripts/callbackManager.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.1.2/firebase.js"></script>
  <script src="javascripts/presenter.js"></script>

block content

  .container
    .game-container
      .grid-container
        .grid-row
          .grid-cell
          .grid-cell
          .grid-cell
          .grid-cell
        .grid-row
          .grid-cell
          .grid-cell
          .grid-cell
          .grid-cell

        .grid-row
          .grid-cell
          .grid-cell
          .grid-cell
          .grid-cell

        .grid-row
          .grid-cell
          .grid-cell
          .grid-cell
          .grid-cell

      .tile-container
